.clear-notes {
  clear: both;
  background-color: black;
  color: red;
  border-radius: 50%;
  width: 95px;
  height: 25px;
  margin-bottom: 15px;
  margin-left: 450px;
  overflow: hidden;
}

li {
  float: left;
  list-style-type: none;
  padding-top: 5px;
  padding-bottom: 14px;
  padding-left: 25px;
  color: red;
  font-family: "Dancing Script", cursive;
  font-size: 46px;
  margin-bottom: 20px;
  margin-rignt: 250px;
  clear: right;
}

.spacer {
  width: 100%;
  background-color: transparent;
  height: 30px;
}

button {
  background-color: green;
  color: white;
  border-radius: 50%;
  width: 95px;
  height: 25px;
}

button:hover {
  background-color: red;
  color: black;
  cursor: pointer;
}

.sticky {
  background-color: transparent;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}
.stickybtn {
  width: 95px;
  height: 30px;
  background-color: grey;
  color: red;
  border-radius: 50%;
}

.locked {
  width: 22px;
  hieght: 22px;
  background-color: red;
  filter: greyscale (100%);
}
